@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@300;400;700;800&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Outfit:wght@300;400;600&family=Roboto:wght@700&display=swap');

$darkpink: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);
$magenta: hsl(303, 10%, 53%);
$graymagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);


//   .attribution {
//     font-size: 11px;
//     text-align: center;
//   }
//   .attribution a {
//     color: hsl(228, 45%, 44%);
//   }

*{
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
}

body{
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: auto, 100%;
    background-color: $white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading{
    display: block;
    color: $darkpink;
    font-weight: 700;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.4em;
    max-width: 400px;
    text-align: center;
}

.heading-des{
    position: relative;
    margin-left: 5em;
    margin-right: 5em;
    color: $magenta;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 36em;
    min-width: 19em;
}

.rates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 70%;
    min-width: 300px;
    max-width: 700px;
    row-gap: 20px;
    padding-block-end: 2rem;
    font-size: 15px;
    font-weight: 500;

}

.stars{
    width: 6rem;
    min-width: 6rem;
    height: 1.2rem;
    background-image: url(images/icon-star.svg);
    background-repeat: space;
    overflow: hidden;
    margin: 0 auto;
}

.rate{
    color: $darkpink;
    background-color: $graymagenta;
    border-radius: 8px;
    margin: auto;
    width: 85%;
  
    padding-left: 2rem;
    padding-right: 2rem;
   
    padding-top: .5rem;
    padding-bottom: .5rem;
    p{
        text-align: center;
    }
}

.testimonials{
   min-width: 430px;
}

.box-icon{
    width: 60%;
    border-radius: 50%;
    margin-top: 2em;
    margin-left: 3em;
    padding: 0;
}

.box{
    width: 100%;
    height: 10rem;
}

.card{
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 2fr 1fr;

    background-color: $darkpink;
    color: white;
    width: 70%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
}


.top {
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.name{
    margin-left: 1rem;
    font-weight: 500;
    font-size: large;
    text-align: start;
}
.verified{
    color: $pink;
    margin-top: 0;
    margin-left: 1rem;
    text-align: start;
}

.message{
    grid-column: 1/4;
    line-height: 1.5rem;
    padding: 1rem;
    padding-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}



//desktop mode
@media screen and (min-width: 1000px)  {
    body{
        background-color: $white;
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;
        background-size: auto, 100%;
        position: absolute;
    }
    .container{
        max-width: unset;
        display: grid; 
        grid-template-columns: 1fr .8fr 1fr; 
        grid-template-rows: .5fr .5fr 1fr;  
        grid-template-areas: 
          "heads . rates"
          "heads . rates"
          "test test test"; 
        place-content: center;
        width: 80%;
        column-gap: 1rem;
        margin-left: auto;
        margin-right: auto;
    }    

    .heads{
        grid-area: heads;
        margin-top: 2rem;
    }
    .heading, .heading-des{
  
        text-align: start;
        margin-left: 2rem;
        h1{
            font-weight: 700;
        }
    }
  

    .rates{
        grid-area: rates;
        margin-top: 3rem;
        .rate{
            background-color: $graymagenta;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 3rem;
            padding-right: 3rem;
            p{
                width: 18rem;
                font-weight: 700;
            }
        }
        .one{
    
        margin-left: 0rem;
        }
        .two{
            
        margin-left: 2rem;
        }
        .three{
            
        margin-left: 4rem;
        }
    }
    .testimonials{
        display: flex;
        flex-direction: row;
        grid-area: test;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .verified{
            font-size: 1.2rem;
            margin-top: -.8rem;
        }
        .card{
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .colton{
            margin-bottom: 4rem;
        }
        .irene{
            margin-bottom: 2rem;
        }
        .anne{
            margin-bottom: 0rem;
        }
        .message{
            line-height: 1.5rem;
        }
    }
    // .heading{
    //     text-align: start;
    //     margin-top: -10em;
    //     margin-left: 2rem;
    //     grid-column: 1/4;
    //     width: 40%;
    //     font-size: 3rem;
    // }
    // .heading-des{
    //     text-align: start;
    //     margin-left: 10rem;
    // }



}