@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@300;400;700;800&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Outfit:wght@300;400;600&family=Roboto:wght@700&display=swap");
* {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}

body {
  background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: auto, 100%;
  background-color: hsl(0deg, 0%, 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: block;
  color: hsl(300deg, 43%, 22%);
  font-weight: 700;
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4em;
  max-width: 400px;
  text-align: center;
}

.heading-des {
  position: relative;
  margin-left: 5em;
  margin-right: 5em;
  color: hsl(303deg, 10%, 53%);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 36em;
  min-width: 19em;
}

.rates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 700px;
  row-gap: 20px;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
  font-size: 15px;
  font-weight: 500;
}

.stars {
  width: 6rem;
  min-width: 6rem;
  height: 1.2rem;
  background-image: url(images/icon-star.svg);
  background-repeat: space;
  overflow: hidden;
  margin: 0 auto;
}

.rate {
  color: hsl(300deg, 43%, 22%);
  background-color: hsl(300deg, 24%, 96%);
  border-radius: 8px;
  margin: auto;
  width: 85%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.rate p {
  text-align: center;
}

.box-icon {
  width: 60%;
  border-radius: 50%;
  margin-top: 2em;
  margin-left: 3em;
  padding: 0;
}

.box {
  width: 100%;
  height: 10rem;
}

.card {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: hsl(300deg, 43%, 22%);
  color: white;
  width: 70%;
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.top {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.name {
  margin-left: 1rem;
  font-weight: 500;
  font-size: large;
  text-align: start;
}

.verified {
  color: hsl(333deg, 80%, 67%);
  margin-top: 0;
  margin-left: 1rem;
  text-align: start;
}

.message {
  grid-column: 1/4;
  padding: 1rem;
  padding-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 1000px) {
  body {
    background-color: hsl(0deg, 0%, 100%);
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: auto, 100%;
    position: absolute;
  }
  .container {
    max-width: unset;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-areas: "heads . rates" "heads . rates" "test test test";
    place-content: center;
    width: 80%;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .heads {
    grid-area: heads;
  }
  .heading, .heading-des {
    text-align: start;
    margin-left: 2rem;
  }
  .rates {
    grid-area: rates;
  }
  .rates .rate {
    background-color: hsl(300deg, 24%, 96%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .rates .rate p {
    width: 16rem;
  }
  .rates .one {
    margin-left: 0rem;
  }
  .rates .two {
    margin-left: 2rem;
  }
  .rates .three {
    margin-left: 4rem;
  }
  .testimonials {
    display: flex;
    flex-direction: row;
    grid-area: test;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .testimonials .verified {
    font-size: 1.2rem;
    margin-top: -0.8rem;
  }
  .testimonials .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .testimonials .colton {
    margin-bottom: 4rem;
  }
  .testimonials .irene {
    margin-bottom: 2rem;
  }
  .testimonials .anne {
    margin-bottom: 0rem;
  }
  .testimonials .message {
    line-height: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */